.header{
    width: 100%;
    position: absolute;
    top: 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    /* padding: 10px 10vw 10px 10vw  ; */
    padding-left: 1rem;
    padding-right: 1rem;

}
.date{
    font-size: 47px;
    margin: 0;
    padding-right: 5px;
    text-align: center;
}
.left-side{
    display: flex;
}
.month, .year{
    margin: 0;
    padding: 0;
    text-align: left;
}
